name: CI-CD Wisecow

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USER }}/wisecow:latest .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKER_USER }}/wisecow:latest

    - name: Deploy to Kubernetes
      uses: appleboy/k8s-deploy-action@v1.4.0
      with:
        kubeconfig: ${{ secrets.KUBE_CONFIG }}
        manifests: |
          k8s/deployment.yaml
          k8s/service.yaml
          k8s/ingress.yaml
